{% extends 'base.html' %}

{% block content %}
<form action="/update/{{recepts.id}}" method="post">
    <div class="mb-3">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title" class="form-control" value="{{ recepts.title }}">
    </div>
    <div class="mb-3">
        <label>Description</label>
        <input type="text" name="description" placeholder="Description" class="form-control" value="{{ recepts.description }}">
    </div>
    <div class="mb-3">
        <label>Ingredients</label>
        <input type="text" name="ingredients" placeholder="Ingredients" class="form-control" value="{{ recepts.ingredients }}">
    </div>
    <div class="mb-3">
        <label>Steps_cooking</label>
        <input type="text" name="steps_cooking" placeholder="Steps_cooking" class="form-control" value="{{ recepts.steps_cooking }}">
    </div>

    <input type="submit" value="Submit" class="btn btn-primary mb-3">
</form>
{% endblock %}